.navbar {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}
  